.places .reviews h2,
.places .amenities2 h2 {
    padding: 5% 0 5% 0;
    padding-bottom: 2%;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    font-size: 20px;
}

.places .amenities2>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.places .amenities2>ul li {
    background-size: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
    width: 50%;
    box-sizing: border-box;
}

.TV {
    background-image: url(../images/icon_tv.png);
}

.Cable_TV {
    background-image: url(../images/icon_cable_tv.png);
}

/* .Other_pet(s), */
.Pets_allowed
{
    background-image: url(../images/icon_pets.png);
}

.Air_conditioning {
    background-image: url(../images/Air_conditioning.png);
}

.Breakfast {
    background-image: url(../images/Breakfast.png);
}

.Doorman_Entry {
    background-image: url(../images/Doorman_Entry.jpg);
}

.Elevator_in_building {
    background-image: url(../images/Elevator_in_building.png);
}

.Fire_extinguisher {
    background-image: url(../images/Fire_extinguisher.jpeg);
}

.First_aid_kit {
    background-image: url(../images/First_aid_kit.png);
}

.Free_parking_on_premises {
    background-image: url(../images/Free_parking_on_premises.jpeg);
}

.Gym {
    background-image: url(../images/Gym.webp);
}

.Heating {
    background-image: url(../images/Heating.png);
}

.Washer,
.Pool {
    background-image: url(../images/Pool.png);
}

.Internet {
    background-image: url(../images/Internet.png);
}

.Keypad {
    background-image: url(../images/Keypad.png);
}

.Kitchen {
    background-image: url(../images/Kitchen.png);
}

.Laptop_friendly_workspace {
    background-image: url(../images/Laptop_friendly_workspace.png);
}

.Lockbox {
    background-image: url(../images/Lockbox.png);
}

.Private_living_room {
    background-image: url(../images/Private_living_room.png);
}

.Self_Check-In {
    background-image: url(../images/Self_Check-In.jpg);
}

.Shampoo {
    background-image: url(../images/Shampoo.png);
}

.Smartlock {
    background-image: url(../images/Smartlock.jpeg);
}

.Smoking_allowed {
    background-image: url(../images/Smoking_allowed.png);
}

.Wheelchair_accessible {
    background-image: url(../images/Wheelchair_accessible.png);
}

.Hot_tub {
    background-image: url(../images/icon_bath.png);
}

.reviews {
    margin-bottom: 5%;
}

.places .reviews>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.places .reviews ul li h3 {
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.places .reviews ul li p {
    padding-bottom: 5%;
    margin-top: 0px;
}
